@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    
}

.title {
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: white;
}

.menu-block {
    display: block;
    position: relative;
    margin-left: 50px;    
}

.menu {
    display: inline-block;
    width: 30vw;
    height: 35%;
    border: 1px solid #fff;

}

.menuimg {
    width: 100%;
    height: 250px;
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: white;
}

.back {
    display:block;
    width: 10%;
    height: 15%;
    font-size: 4vh;
    border: none;
    background-color: rgb(38, 220, 166);
    transition: outline-offset 1s;
    margin: 1vh 0 0 1vh;
    padding:0.7vh;
    text-align: center;
}

.back:hover {
    border: 0.3vh solid rgb(228, 228, 51);
    outline: solid rgb(210, 210, 63);
    outline-offset: 10px;
}

.link-back {
    text-decoration: none;
    font-size: 5vh;
    margin:1vh 0 0 0;
}

.menu-block a:hover {
    color:yellow;
}

.menuclick {
    font-family: 'Alfa Slab One', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 4vh;
    border: none;
}

a {
    text-decoration: none;
    color:inherit;
}

#macro {
    width: 100%;
    display: block;
    font-size: 50px;
    text-decoration: dotted underline;
    background-color: black;
    text-align: center;
    padding:10px 0;
}

