body {
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(184, 244, 19);
}

span {
    display: block;
    margin-left:0;
    text-align: left;
    font-size: large;
}